<% include ../partials/header %>

<h1> Login </h1>

<% Object.keys(flash).forEach(function (type) { %>
  <div class="<%= type %>">
    <% flash[type].forEach(function (message) { %>
      <%= message %>
    <% }) %>
  </div>
<% }) %>

<form method="POST" action="/auth/login">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>