<% include ./partials/header %>

<div class="container">

  <% if(auth) { %>
    <form action="/feed" method="POST">
      <input type="text" name="post" />
      <input type="submit" value="add post" />
    </form>

    <ul>
      <% posts.forEach(post => { %>
        <li> 
          <%= post.username %>  <br />
          <%= post.post %>
          <%= post.post_added %>
        </li>
      <% }) %>
    </ul>

  <% } else { %>
    <h1> Welcome to Catbook </h1>
    <img class="homeImage" src="/assets/smokey_the_cat_by_volcano123456.jpg" title="cat" alt="cat" />
    <p> Please login to view and create a post </p>
  <% } %>
</div>

<% include ./partials/footer %>