<% include ./partials/header %>

<div class="container">

  <% if(auth) { %>
    <form action="/feed" method="POST">
      <div class="form-group">
        <h4>What's on your mind?</h4>
        <input class="form-control" type="text" name="post" />
        <input class="btn btn-primary" type="submit" value="add post" />
      </div>
    </form>

    <ul class="list-group">
      <% posts.forEach(post => { %>
        <li class="postContainer list-group-item <%= post.username === user.username? 'userPost' : '' %>"> 
          <div class="profilePicAndName">
            <img class="profilePic" src="/assets/cat-default.jpg" />
            <h4 class="username"><%= post.username %></h4>
          </div>
          <div class="post">
            <p><%= post.post %></p>
            <small><%= post.post_added %></small>
          </div>
        </li>
      <% }) %>
    </ul>

  <% } else { %>
    <h1> Welcome to Catbook </h1>
    <img class="homeImage" src="/assets/smokey_the_cat_by_volcano123456.jpg" title="cat" alt="cat" />
    <p> Please login to view and create a post </p>
  <% } %>
</div>

<% include ./partials/footer %>