<% include ./partials/header %>

<div class="container">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/assets/cat-default.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= user.username %></h4>
      <p class="card-text"><%= user.description %></p>
      <% if(isUser) { %>
        <div><a href="/edit">Edit</a><div>
      <% } %>
    </div>
  </div>

</div>  

<% include ./partials/footer %>