<% include ./partials/header %>

<p> Username: <%= user.username %> </p>
<p> Name:  <%= user.first_name %> <%= user.last_name %> </p>
<p> Description: <%= user.description %> </p>

<% if(isUser) { %>
  <h1> This is my profile man </h1>
  <a href="/edit">Edit</a>
<% } %>
