.user {
  color: blue;
}

/* Styling for user's own post */
.userPost {
  border: 1px black dashed;
}


body {
  background-color: #f7f7f9;
}

header {
  background: white;
}

.homeImage {
  width: 80vw;
  height: 70vh;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profilePicAndName {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 10px;
}

.post {
  margin-left: 60px;
}

.postContainer {
  margin-bottom: 20px;
}


/* Flash messages */
.error {
  background: red;
  color: white;
  text-align: center;
  /* height: 0 */
}